1 VERSIONINFO
FILEVERSION 1,0,2,0
PRODUCTVERSION 1,0,2,0
FILEOS 0x4
FILETYPE 2
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "Bill Stewart (bstewart at iname.com)"
      VALUE "FileDescription", "wargcvlib.dll"
      VALUE "FileVersion", "1.0.2.0"
      VALUE "InternalName", "wargcvlib.dll"
      VALUE "LegalCopyright", "(C) 2023-2024 by Bill Stewart (bstewart at iname.com)"
      VALUE "OriginalFilename", "wargcvlib.dll"
      VALUE "ProductName", "wargcvlib.dll"
      VALUE "ProductVersion", "1.0.2.0"
    }
  }

  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 0x04E4
  }
}
